@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Bree+Serif&display=swap');

body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: papayawhip;
}
=======
    background-color: #faf6ed;
    background-image: url("img/arriba.png");
    background-size:auto;
    width: auto;
    height: auto;
=======
    background-color: papayawhip;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
}

>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
h1 {
    font-size: 3em;
    font-family:'Atma';
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
    color: orangered;
=======
    color: black;
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
    color: orangered;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    margin: 0;
}
h2 {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 1.8rem;
    margin: .4em;
}
h3 {
    text-align: justify;
    font-family: 'Bree Serif';
    font-size: 1.3rem;
}
section {
    margin: 0 auto;
    width: 25em;
    padding: 1.5em;
    position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: lemonchiffon;
    border: 1px solid orange;
=======
    background-color: lavenderblush;
    border: 1px solid #edb194;
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
    background-color: lemonchiffon;
    border: 1px solid orange;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    border-radius: 1em;
    margin-bottom: 0;
}
button {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    background: orange;
	border: none;
=======
    background:#edb194;
	border: solid 1px white;
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-size: 1.2rem;
	transition-duration: .5s;
    margin-top: 15px;
    margin-left: 40%;
    font-family: "Bree Serif";
}
footer {
    text-align: center;
    color: gray;
    margin-top: 1em;
    font-family: Arial;
    clear: both;
}
input {
<<<<<<< HEAD
<<<<<<< HEAD
    margin: auto;
    border: 1px solid orangered;
=======
    margin-top: .7em;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom: 1px solid #edb194;
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
    margin: auto;
    border: 1px solid orangered;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    border-radius: 5px;
    box-sizing: content-box;
    text-align: center;
    padding: .4em;
    margin-left: 30%;
}

/* Clases */

.center {
    text-align: center;
}
.text {
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    margin: auto;
}
.hyperlink{
    background-color: peachpuff;
<<<<<<< HEAD
<<<<<<< HEAD
    border-bottom: orangered solid 1px;
=======
    border-bottom: #edb194 solid 1px;
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
    border-bottom: orangered solid 1px;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    border-radius: 0.5em;
    margin: auto;
    height: 1.3em;
    width: 16em;
    text-align: center;
    box-sizing: content-box;
}
.label{
    font-family: "Bree Serif";
    font-size: 1rem;
    text-align: center;
    margin-left: 30%;
}
.text2 {
    font-family: "Bree Serif";
    font-size: 1rem;
<<<<<<< HEAD
<<<<<<< HEAD
    color: orangered;
=======
    color: rgb(245, 104, 53);
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
    color: orangered;
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
    margin-left: 25%;
}
.imgcard{
    height: 7em;
    width: 7em;
    padding-left: 9em;

}
.imgcheck{
    height: 2em;
    width: 2em;
    padding-left: 12em;
    margin-top: 0;
    margin-bottom: 0;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> a25060d3c8f58c1d2d4ae6fe43f63658c4582327
=======
}
>>>>>>> 88f8aa9... Making InitialPomChanges match develop
