@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Bree+Serif&display=swap');
body {
    background-color: #faf6ed;
}
h1 {
    font-size: 3em;
    font-family:'Atma';
    text-align: center;
    color: #000000;
}
h2 {
    text-align: center;
    font-family: 'Bree Serif';
    font-size: 1.8em;
}
h3 {
    text-align: justify;
    font-family: 'Bree Serif';
    font-size: 1.3em;
}
section {
    margin: auto;
    width: 25em;
    padding: 1em;
    position: relative;
    background-color: #edb194;
    border: 1px solid #ffffff;
    border-radius: 1em;
}
button {
    background: #f1ddce;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #000000;
	font-size: 16px;
	transition-duration: .5s;
    margin-top: 15px;
    margin-left: 10em;
    font-family: "Bree Serif";
}
footer {
    text-align: center;
    color: #808080;
    margin-top: 1em;
    font-family: Arial;
    font-weight: bold;
}
img {
    height: 7em;
    width: 7em;
    padding-left: 9em;
}

/* Clases */

.center {
    text-align: center;
}
.text {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-style: "bree serif";
    font-weight: bold;
    margin: auto;
}
.hyperlink{
    background-color: #f1ddce;
    border: #ffffff solid 1px;
    border-radius: 0.5em;
    height: 1.3em;
    width: 16em;
    margin: auto;
    text-align: center;
}
.label{
    font-family: "Bree Serif";
    font-size: 16px;
}